<div class="w-full rounded-tl-lg bg-gray-500 p-4 shadow-md dark:bg-gray-700">
  <h1>Lobby {{ serverAddress }}</h1>
</div>
<div class="mx-2 mt-4">
  @if (isConnected) {
    <ol class="lobby-slots">
      @for (player of players; track player.slot) {
        <li class="lobby-slot" [class.active]="player.slot === slot_number">
          <div class="lobby-slot-name">{{ player.name }}</div>
          <div class="lobby-slot-game">{{ player.game }}</div>
        </li>
      } @empty {
        <li>There are no players in this lobby.</li>
      }
    </ol>
  } @else {
    <div class="msg-error">Not connected to server</div>
  }
</div>
